extends layout

block content
  nav.navbar.navbar-inverse.navbar-fixed-top
    .container-fluid
      .navbar-header
      ul.nav.navbar-nav
        li#brand-icon-container
          a(href='/bookmarks')
            img#brand-icon(src='/images/inclined-puspin-32-inactive.png')
        li.active
          a(href='/bookmarks/add') ADD
        li
          a(href='#')#delete-btn DELETE
        li
          a(href='#')#edit-btn EDIT
        li
          a(href='#') TAGS
  .container
    form
      .form-group
        label(for='url') URL:
        input#url.form-control(type='text')
      .form-group
        label(for='usr') Title:
        input#usr.form-control(type='text')
      .form-group
        label(for='comment') Description:
        textarea#comment.form-control(rows='5')
      .form-group
        label(for='tags') Tags:
        input#tags.form-control(type='text', data-role='tagsinput')

    button#bookmark-submit-manual.btn.btn-primary.btn-block Submit
