extends layout

block content
  nav.navbar.navbar-default.navbar-fixed-top.navbar-custom
    .container-fluid
      .navbar-header
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
          span.icon-bar.collapse-icon-white
          span.icon-bar.collapse-icon-white
          span.icon-bar.collapse-icon-white
        a(href='/bookmarks').navbar-brand
          img#brand-icon.brand-active(src='/images/inclined-puspin-32-active.png')
      .collapse.navbar-collapse#mainnav
        ul.nav.navbar-nav
          li
            a(href='/bookmarks/add') ADD
          li
            a(href='#')#delete-btn DELETE
        form.navbar-form.navbar-left.tag-search-wrapper
          .form-group
            input(type='text', placeholder='Search by Title, Tag or URL').form-control#title-search-bar
        ul.nav.navbar-nav.navbar-right.tag-navbar
  .container
    p You are adding #{url}
    p#invisible #{url}
    form
      .form-group
        label(for='usr') Title:
        input#usr.form-control(type='text')
      .form-group
        label(for='comment') Description:
        textarea#comment.form-control(rows='5')

    button#bookmark-submit.btn.btn-primary.btn-block Submit
