extends layout

block content
  nav.navbar.navbar-fixed-top
    .container-fluid
      .navbar-header
      ul.nav.navbar-nav
        li#brand-icon-container
          a(href='/bookmarks')
            img#brand-icon(src='/images/inclined-puspin-32-inactive.png')

        li.active
          a(href='/bookmarks/add') ADD
        li
          a(href='#')#delete-btn DELETE
        li
          a(href='#')#edit-btn EDIT
        li
          a(href='#') TAGS
  .container
    p You are adding #{url}
    p#invisible #{url}
    form
      .form-group
        label(for='usr') Title:
        input#usr.form-control(type='text')
      .form-group
        label(for='comment') Description:
        textarea#comment.form-control(rows='5')

    button#bookmark-submit.btn.btn-primary.btn-block Submit
