extends layout

block content
  nav.navbar.navbar-inverse.navbar-fixed-top
    .container-fluid
      .navbar-header
        a.navbar-brand.m-spacing(href='/bookmarks') BOOKMARKS
      ul.nav.navbar-nav
        li.active
          a(href='/bookmarks') ALL
        li
          a(href='/bookmarks/add') ADD
        li
          a(href='#')#delete-btn DELETE
        li
          a(href='#')#edit-btn EDIT
        li
          a(href='#') TAGS  .container
    p You are adding #{url}
    p#invisible #{url}
    form
      .form-group
        label(for='usr') Title:
        input#usr.form-control(type='text')
      .form-group
        label(for='comment') Description:
        textarea#comment.form-control(rows='5')

    button#bookmark-submit.btn.btn-primary.btn-block Submit
