extends layout

block content
  .jumbotron
    .page-header
      h1 Your bookmarks
      button.btn.btn-link
        a(href='/bookmarks/') list
      button.btn.btn-link
        a(href='/bookmarks/add') add
      button.btn.btn-link
        a(href='#') delete


  .container
    ul.list-unstyled
      for bookmark in bookmarks
        .bookmark-container.col-md-6
          li.bookmark-item
            h4= bookmark.title
              span#edit-glyphicon.glyphicon.glyphicon-pencil
              if bookmark.favicon
                img(src= bookmark.favicon)#bookmark-favicon
            a(href= bookmark.url)= bookmark.url
            p= bookmark.description
