extends layout

block content
  nav.navbar.navbar-inverse.navbar-fixed-top
    .container-fluid
      .navbar-header
      ul.nav.navbar-nav
        li.active#brand-icon-container
          a(href='/bookmarks')
            img#brand-icon.brand-active(src='/images/inclined-puspin-32-active.png')
        li
          a(href='/bookmarks/add') ADD
        li
          a(href='#')#delete-btn DELETE
        li
          a(href='#')#edit-btn EDIT
        li
          a(href='#') TAGS

  .container
    ul.list-unstyled
      for bookmark in bookmarks
        .bookmark-container.col-sm-4.col-md-3
          li.bookmark-item(data= bookmark._id)
            h4= bookmark.title
              //span#edit-glyphicon.glyphicon.glyphicon-pencil
              if bookmark.favicon
                img(src= bookmark.favicon)#bookmark-favicon
            a(href= bookmark.url)= bookmark.url
            p= bookmark.description
