extends layout

block content
  nav.navbar.navbar-inverse.navbar-fixed-top
    .container-fluid
      .navbar-header
        a.navbar-brand.m-spacing(href='/bookmark') BOOKMARKS
      ul.nav.navbar-nav
        li.active
          a(href='/bookmarks') ALL
        li
          a(href='/bookmarks/add') ADD
        li
          a(href='#')#delete-btn DELETE
        li
          a(href='#') TAGS

  .container
    ul.list-unstyled
      for bookmark in bookmarks
        .bookmark-container.col-md-4
          li.bookmark-item
            h4= bookmark.title
              span#edit-glyphicon.glyphicon.glyphicon-pencil
              if bookmark.favicon
                img(src= bookmark.favicon)#bookmark-favicon
            a(href= bookmark.url)= bookmark.url
            p= bookmark.description
