extends layout

block content
  nav.navbar.navbar-inverse.navbar-fixed-top
    .container-fluid
      .navbar-header
        a.navbar-brand(href='#') Your bookmarks
      ul.nav.navbar-nav
        li.active
          a(href='#') all
        li
          a(href='/bookmarks/add') add
        li
          a(href='#') delete
        li
          a(href='#') Page 3
          
  .container
    ul.list-unstyled
      for bookmark in bookmarks
        .bookmark-container.col-md-6
          li.bookmark-item
            h4= bookmark.title
              span#edit-glyphicon.glyphicon.glyphicon-pencil
              if bookmark.favicon
                img(src= bookmark.favicon)#bookmark-favicon
            a(href= bookmark.url)= bookmark.url
            p= bookmark.description
