extends layout

block content
  nav.navbar.navbar-inverse.navbar-fixed-top
    .container-fluid.tag-navbar
      .navbar-header
      ul.nav.navbar-nav
        li.active#brand-icon-container
          a(href='/bookmarks')
            img#brand-icon.brand-active(src='/images/inclined-puspin-32-active.png')
        li
          a(href='/bookmarks/add') ADD
        li
          a(href='#')#delete-btn DELETE
        form.navbar-form.navbar-left
          .form-group
            input(type='text', placeholder='Search by title').form-control#title-search-bar

  .container
    ul.list-unstyled
      for bookmark in bookmarks
        .bookmark-container.col-sm-4.col-md-3
          li.bookmark-item(data= bookmark._id)
            h4.bookmark-title= bookmark.title
              if bookmark.favicon
                img(src= bookmark.favicon)#bookmark-favicon
            .tag-labels-container
              if bookmark.tags
                for tag in bookmark.tags
                  span.label.label-primary= tag
            a(href= bookmark.url).bookmark-url= bookmark.url
            p.bookmark-description= bookmark.description
            button.bookmark-newtab-btn
              .glyphicon.glyphicon-arrow-up.new-tab-label
