doctype html
html
  head
    title= title
    meta(name='theme-color', content='#41b883')
    meta(name='msapplication-navbutton-color', content='#41b883')
    meta(name='apple-mobile-web-app-status-bar-style', content='#41b883')

    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-tagsinput/bootstrap-tagsinput.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='manifest', href='/javascripts/manifest.json') 

    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    script(src='/javascripts/helpers.js')
    script(src='/javascripts/bootstrap-tagsinput/bootstrap-tagsinput.js')
  body
    block content
