/*body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
 */

#invisible{
  display: none;
}
.m-spacing {
  letter-spacing: 5px;
}
.bookmark-item {
  //border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  border-color: rgb(51,51,51);
  padding: 5px;
  margin-bottom: 5px;
  background-color: rgb(238,238,238);
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 145px;
  overflow: auto;
  overflow-x: hidden;
}

#brand-icon-container {
  height: 45px;
  overflow: hidden;
}
#brand-icon {
  position: relative;
  top: -6px;
}

#edit-glyphicon, #bookmark-favicon {
  float: right;
}
#bookmark-favicon {
  height: 20px;
  position: absolute;
  top: 10px;
  right: 20px;
}
/*
.navbar-nav>li, .navbar-nav {
  float: left !important;
}
*/
.navbar-default .navbar-nav>li>a {
  color: white;
}
.collapse-icon-white {
  background-color: white!important;
}
.tag-search-wrapper {
  border: none;
}
/*
.navbar-nav.navbar-right:last-child {
  margin-right: -15px !important;
}

.navbar-right {
  float: right!important;
}
/*.tag-labels-container .label{
  margin-right: 2px;
}
#tag-highlight {
  float: right;
}*/

/*@media screen and (max-width : 768px) {
  .container {
    margin-top: 100px;
  }
  .bookmark-item {
    /height: auto;
  }
}
@media screen and (min-width : 769px) {
  .container {
    margin-top: 100px;
  }
}

*/
.container {
  margin-top: 70px;
}
.new-tab-label{
  transform: rotate(45deg);
}
.bookmark-newtab-btn {
  display: none;
  position: absolute;
  bottom: 10px;
  right: 20px;
  border-radius: 50%;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(51,51,51);
  background: white;
  border: none;
  width: 25px;
  height: 25px;
}
.navbar-custom, .label-primary {
  background-color:rgb(65,184,131);
}
