/*body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
 */
 body {
   background-color: rgb(39,56,86);
 }
#invisible{
  display: none;
}
.m-spacing {
  letter-spacing: 5px;
}
.bookmark-item {
  //border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  border-color: rgb(51,51,51);
  padding: 5px;
  margin-bottom: 5px;
  background-color: rgb(238,238,238);
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 145px;
  overflow: scroll;
}
#edit-glyphicon, #bookmark-favicon {
  float: right;
}
#bookmark-favicon {
  height: 20px;
  margin-right: 10px;
}
.navbar-collapse.collapse {
  display: block!important;
}

.navbar-nav>li, .navbar-nav {
  float: left !important;
}

.navbar-nav.navbar-right:last-child {
  margin-right: -15px !important;
}

.navbar-right {
  float: right!important;
}
@media screen and (max-width : 768px) {
  .container {
    margin-top: 150px;
  }
}
@media screen and (min-width : 769px) {
  .container {
    margin-top: 100px;
  }
}
