/*body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
 */
 body {
   background-color: rgb(39,56,86);
 }
#invisible{
  display: none;
}
.bookmark-item {
  //border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  border-color: rgb(51,51,51);
  padding: 5px;
  margin-bottom: 5px;
  background-color: rgb(238,238,238);
}
